Repository rust-windowing/softbuffer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @john01dav, @madsmtm, @jackpot51, @ids1024, @daxpedda, @notgull

.github/CODEOWNERS:

# Core maintainers
*                   @john01dav

# Apple platforms
/src/cg.rs          @madsmtm

# DRM/KMS (no maintainer)
/src/kms.rs

# Redox
/src/orbital.rs     @jackpot51

# Wayland
/src/wayland        @ids1024

# Web
/src/web.rs         @daxpedda

# Windows
/src/win32.rs       @notgull

# X11
/src/x11.rs         @notgull

Fix basic compile errors
  Cargo.toml
  src/lib.rs
Owners: @john01dav

Don't test KMS on netbsd
  .github/workflows/ci.yml
Owners: @john01dav

cg: Require non-zero width/height; panic instead of segfault
  src/cg.rs
Owners: @madsmtm

Add damage support
  .github/workflows/ci.yml
  Cargo.toml
  src/kms.rs
Owners: @john01dav

Add example and fix KMS
  Cargo.toml
  examples/drm.rs
  src/kms.rs
Owners: @john01dav

Add double buffering
  src/kms.rs
Owners: none

Fix implementation of double buffering
  examples/drm.rs
  src/kms.rs
  src/lib.rs
Owners: @john01dav

Mark fetch as unsupported on Windows for now
  src/win32.rs
Owners: @notgull

Fix usage of connectors
  src/kms.rs
Owners: none

bugfix: Mark fetch as unsupported on Windows for now
  src/win32.rs
Owners: @notgull

Address example review comments
  Cargo.toml
  examples/drm.rs
Owners: @john01dav

Add a strategy for finding the card without udev
  Cargo.toml
  examples/drm.rs
Owners: @john01dav

fmt
  examples/drm.rs
Owners: @john01dav

Add comment to buffer_mut for DRM page flip
  src/lib.rs
Owners: @john01dav

fmt
  src/lib.rs
Owners: @john01dav

Test for connected connectors instead of amount
  examples/drm.rs
Owners: @john01dav

Ignore ENOSYS for dirty_framebuffer
  Cargo.toml
  src/kms.rs
Owners: @john01dav
